@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        This web site has been created by Ziaullah Khan.
    </p>

    <p>
        The technologies used to build this solution include the following:
    </p>
        <ul style="list-style: none">
            <li>Windows Azure</li>
            <li>ASP.Net MVC 4</li>
            <li>ASP.Net WebAPI</li>
            <li>Knockout JS</li>
            <li>Dependency Injection (Structure Map)</li>
            <li>Entity Framework</li>
            <li>Test Driven Development</li>
        </ul>
</article>

<aside>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>